<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352169315082-41vv93ksle34ru425vto5m0fvs43ik0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352169315082-41vv93ksle34ru425vto5m0fvs43ik0b</string>
	<key>API_KEY</key>
	<string>AIzaSyBSjoFXpiOUnCVsuS1m-4YLF_7Ix0dk6Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>352169315082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-4a051</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-4a051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352169315082:ios:238a830d6c63d144b5c8f3</string>
</dict>
</plist>